.sbHolder {
	border: 2px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.25);
	height: 50px;
	width: 100%;
	padding: 0 15px;
	margin: 0 0 10px;
	outline: 0;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.sbHolder:focus, .sbHolder:hover {
	border: 2px solid #a0bf1c;
	background-color: rgba(160, 198, 28, 0.25);
	height: 50px;
	width: 100%;
	padding: 0 15px;
	margin: 0 0 10px;
	outline: 0;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 48px;
	left: 0;
	line-height: 46px;
	outline: none;
	overflow: hidden;
	position: absolute;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-indent: 10px;
	top: 0;
	width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #FFFFFF;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../images/arrowdrop.png) center center no-repeat;
	display: block;
	height: 46px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
.sbOptions{
	border: 2px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	border-top:0;
	list-style: none;
	left: -2px;
	right: -2px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: auto;
	z-index: 1;
	overflow-y: auto;
	min-height: 80px;
}
.sbHolder:hover .sbOptions {
	border: 2px solid #a0bf1c;
	border-top: 0;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions li:hover {
	background-color: rgba(160, 198, 28, 0.5);
}
.sbOptions li:last-child a {
	border-bottom: 0;
}
.sbOptions a{
	border-bottom: dotted 1px #a0bf1c;
	display: block;
	outline: none;
	padding: 7px 0 7px 0px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #3b4709;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #3b4709;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #a0bf1c;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #3b4709;
	color: #3b4709;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
